# ── Rewrite Engine ────────────────────────────────────────────
RewriteEngine On

RewriteRule ^data/ - [F,L]

RewriteCond %{QUERY_STRING} (^|&)run=1
RewriteCond %{HTTP_REFERER} !^http://soffl\.com [NC]
RewriteRule ^search_jobs\.php$ - [F,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

<FilesMatch "^(config|test_email|test_source)\.php$">
    Require all denied
</FilesMatch>

<Files ".env">
    Require all denied
</Files>